*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(4, 37, 4);
    margin-right: 50px;
    margin-left: 50px;
}
.container{
    font-size: 18px;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border: 2px solid orange;
    border-radius: .5em;
    box-shadow: 0 1em 2em .5em rgb(1, 12, 1);
}
.title{
    text-align: center;
}

#topics-cont{
    text-align: center;
}
#topics-cont div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0 2em 0;
}
#topics-cont button{
    padding: .5em 1em;
    text-transform: capitalize;
    background-color: #ffffff;
    border: 2px solid rgb(177, 140, 91);
    color: rgb(177, 140, 91);
    border-radius: 1em;
    box-shadow: 0 .25em .5em .125em rgb(83, 71, 57);
}
#topics-cont button:disabled{
    border: 2px solid tan;
    color: rgb(169, 184, 169);
}
#topics-cont button.active{
    border: 3px dashed rgb(4, 37, 4);
    background-color: rgb(177, 140, 91);
    color:#ffffff;
}

.letters-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
}
#letter-cont button{
    height: 2.5em;
    width: 2.5em;
    background-color: #ffffff;
    border-radius: .25em;
    border: 1px solid rgb(177, 140, 91);
}

.newgame-popup{
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .5em;
    opacity: 85%;

}
.hide{
display: none;
}