*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(4, 37, 4);
    margin-right: 50px;
    margin-left: 50px;
}
.container{
    font-size: 18px;
    background-color: wheat;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border: 2px solid orange;
    border-radius: .5em;
    box-shadow: 0 1em 2em .5em rgb(1, 12, 1);
}

#guess-tracker{
    text-align: right;
    margin-bottom: 20px;
    font-size: 12px;
}
#guess-tracker span{
    color: rgb(136, 15, 43)
}
.title{
    color: orange; 
    text-align: center;
    font-family: fantasy;
    font-size: 45px;
}
#topics-cont{
    text-align: center;
}
#topics-cont div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0 2em 0;
}
#topics-cont button{
    padding: .5em 1em;
    text-transform: capitalize;
    background-color: #ffffff;
    border: 2px solid rgb(177, 140, 91);
    color: rgb(177, 140, 91);
    border-radius: 1em;
    box-shadow: 0 .25em .25em rgb(83, 71, 57);
}
#topics-cont button:disabled{
    border: 2px solid tan;
    color: rgb(169, 184, 169);
    background-color: #ffffff;
    box-shadow: none;
}
#topics-cont button.active{
    border: 3px dashed rgb(4, 37, 4);
    background-color: rgb(152, 117, 84);
    color:#ffffff;
    box-shadow: none;
    font-weight: bold;
}
#topics-cont button:hover{
    background-color: orange;
}
.letters-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
}
#letter-cont button{
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    background-color: rgb(152, 117, 84);
    border-radius: .25em;
    border: 1px solid rgb(4, 37, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .125em .25em rgb(83, 71, 57);
}
#letter-cont button:hover{
    background-color: orange;
}
#letter-cont button:disabled{
    border: 1px dashed tan;
    color: rgb(169, 184, 169);
    background-color: #ffffff;
    box-shadow: none;
}
#letter-cont button:disabled.inWord{
    background-color: rgb(169, 184, 169);
    color: #ffffff;
    box-shadow: none;
}
.newgame-popup{
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .5em;
    opacity: 90%;
}
#newgame-button{
    background-color: rgb(83, 71, 57);
    color: #ffffff;
    box-shadow: 0 .125em .25em rgb(1, 12, 1);
    width: 150px;
    height: 50px;
    border-radius: 1em;
    border: 2px double orange;
}
#results h2.win-msg{
    color: rgb(21, 83, 21);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
}
#results h2.lose-msg{
    color: rgb(136, 15, 43);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
}
#results span{
    font-weight: bold;
    color: rgb(152, 117, 84);
    font-style: italic;
}
#results p{
    margin-bottom: 50px;
}
.hide{
display: none;
}

#user-input-sec{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: .5em 0 1em 0;
    color:rgb(4, 37, 4);
}